interfaces:
  - name: CashAcceptor
    uri: druby://localhost:6001
    driver: Dummy
  - name: Modem
    uri: druby://localhost:6002
    driver: Dummy
  - name: Watchdog
    uri: druby://localhost:6003
    driver: Dummy
  - name: CardReader
    uri: druby://localhost:6004
    driver: Dummy
  - name: Printer
    uri: druby://localhost:6005
    driver: Dummy
  - name: UserInterface
    uri: druby://localhost:6007
    driver: Dummy
connection_timeout: 60
